<div class="container-fluid text-white bg-dark text-center">
    <div class="container text-center py-3">
            <p class="m-0">© 2021 Thành phố Nha Trang</p>
            <p class="m-0">Địa chỉ: Tổ 20 Hòn Nghê 2 - Nha Trang - Khánh Hòa. ĐT: 0708 488 401</p>
            <p class="m-0">Email: nhom8vippro@hmuhmu.com</p>
            <p class="m-0">Nhóm 8 - Quản lý cửa hàng online Mộc Phúc</p>
    </div>
</div>