{{> header parameter=customer}}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-12">
            <p class="p-5 text-justify h3">
                Trại mộc Mộc Phúc (địa chỉ số 40 Ngọc Sơn, Vũng Đình, Hòn Nghê, Nha Trang, Khánh Hòa)
                là một trong những doanh nghiệp nhận làm đồ nội thất bằng gỗ như bàn, ghế, giường, tủ,
                cầu thang,… ở Nha Trang, Khánh Hòa. Chủ của doanh nghiệp là ông Phúc, trước năm 2000 
                từng là người hoạt động trong lĩnh vực cơ điện tử ở Sài Gòn (TP HCM). Sau năm 2000, 
                ông Phúc đã trở về Nha Trang để tiếp tục sự nghiệp, nhưng do lúc này mắt ông không 
                còn tốt nên không làm về cơ điện tử nữa. Ông đã đi theo học nghề mộc tại chỗ một người 
                quen, sau đó tách ra làm riêng. Lúc đầu chỉ bắt đầu làm tại sân trước nhà của ông. Sau một 
                thời gian hoạt động thì đã có một trại mộc riêng. Tính đến nay doanh nghiệp đã hoạt động gần 17 năm.
            </p>
        </div>
        <div class="col-lg-6 col-12 p-0">
            <img src="/img/aboutUs.jpeg" alt="aboutUs image" width="100%">
        </div>
    </div>
</div>
